<section id="footer">
    <div class="content">

        <div class="logo">
            <img src="../../assets/images/LogoWhite.png" alt="Logo Mestre da Escrita">
        </div>


        <div class="mediaSocial">
            <div class="medias">
                <a class="whatsapp" target="_blank" href="https://wa.me/557382441895?text=Olá!%20Eu%20tenho%20uma%20dúvida%20sobre%20o%20treinamento." >
                    <img src="../../assets/images/logo-whatsapp.png">
                </a>
    
                <a class="instagram" target="_blank" href="https://www.instagram.com/consultoriaeescrita/" >
                    <img src="../../assets/images/instagram.png">
                </a>
            </div>

            <p>consultoriaeescritacopyright 2023</p>

        </div>
    </div>

</section>