<section id="doubts">
    <div class="content">
        <h3>Dúvidas sobre o treinamento</h3>

        <div class="contentDoubts">

            <mat-accordion>
    
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Como funciona a escrita emocional?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Você aprenderá a usar as suas próprias emoções para escrever. Isso se aplicará às técnicas de escrita e você usará no gênero do seu livro, seja ele qual for.</p>
                </mat-expansion-panel>
    
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Quanto tempo levarei para ter resultados?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Isso dependerá do seu esforço ao aplicar todo o conhecimento.</p>
                </mat-expansion-panel>
    
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Para quem o treinamento é indicado?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>O treinamento é indicado tanto para iniciantes que desejam aprimorar suas habilidades, quanto para escritores experientes que buscam novos conhecimentos.</p>
                </mat-expansion-panel>
    
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Onde serão os encontros ao vivo?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Faremos vídeo chamadas por meio do Google Meet. Os alunos terão acesso ao link por meio do grupo de WhatsApp exclusivo do treinamento.</p>
                </mat-expansion-panel>
    
            </mat-accordion>
        </div>
    </div>



</section>