<section id="history">
    <section id="WhoIAmTwo">
        <div class="contentText">
            <h3>Quem sou eu?</h3>
    
            <p>Me chamo Leandro, sou estudante de psicologia e criei o método Mestre da Escrita com o objetivo de auxiliar escritores a se tornarem profissionais, com base na psicologia.</p>
    

            <button routerLink="/">Voltar para home</button>

        </div>
    
        <div>
            <img src="../../assets/images/leandroImagem.png" alt="Foto do instrutor Leandro">
        </div>
    
    </section>

    <section id="myHistory">
        <h3>Por que eu decidi me tornar escritor?</h3>

        <p>
            Papel e caneta não eram exatamente meu melhores amigos (diferente de hoje), mas meu pensamento mudou em 2019.

            <br><br>

            Em novembro de 2019, eu conversava com meus amigos sobre a importância dos livros na sociedade, durante aquela conversa eu pensei que <span>eu poderia escrever um livro!</span>
            
            <br><br>

            Refleti durante algum tempo, até receber o apoio dos meus amigos, me incentivando a dar o primeiro passo e iniciar minha jornada como escritor. E após toda a motivação inicial, eu parei e pensei: <span>“Como se escreve um livro, afinal?”</span>

            <br><br>
            
            É claro que o desespero e a desmotivação me assombraram quando eu descobri que escrever não era tão fácil, então eu decidi deixar aquela ideia de lado.

            <br><br>
            
            Em março de 2020, o desejo de me tornar escritor retornou e eu decidi passar por cima de todos os pensamentos ruins que tomavam conta da minha mente, e comecei a escrever. 
            
            <br><br>

            Durante essa jornada, pensei inúmeras vezes em desistir, pois era só eu sentar em minha cadeira que os pensamentos ruins tomavam conta novamente, fazendo com que a escrita se recusasse a ganhar vida.
            
            <br><br>

            No entanto, meu conhecimento em psicologia foi o que me ajudou a persistir e não desistir, mesmo quando parecia impossível. E no dia 14 de dezembro de 2020, eu publiquei meu primeiro livro.
            
            <br><br>

            A partir desse dia, aprimorei cada vez mais minha escrita e comecei a publicar com menos dificuldade. Afinal, a primeira vez é sempre mais difícil!

            <br><br>
            
            <span>Hoje tenho mais de quinze livros publicados!</span>
        </p>

    </section>
</section>

<div>
    <app-footer-page></app-footer-page>
</div>