<section id="benefits">
    <div class="contentBenefits">
        <div class="title">
            <h2>Benefícios do treinamento</h2>
            <div class="spacer"></div>
        </div>
        

        <div class="cards">

            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">

                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div class="card">
                            <h3>Aulas de psicologia</h3>
                            <span>Aplicadas para a escrita</span>
                            <p>Vou te ensinar tudo sobre a escrita emocional e outros conhecimentos psicológicos que te auxiliarão
                                durante a jornada.</p>
                        </div>
            
                        <div class="card">
                            <h3>Aulas técnicas de escrita</h3>
                            <span>Com base em psicologia</span>
                            <p>Você reunirá os conhecimentos aprendidos e irá aplicá-los no seu texto, além de conhecimentos
                                fundamentais para uma boa escrita.</p>
                        </div>
            
                        <div class="card">
                            <h3>Aulas práticas</h3>
                            <span>com foco nas ferramentas</span>
                            <p>Você aprenderá a escrever uma obra profissional utilizando o Word, a criar uma capa adequada e
                                revisar seus textos com ferramentas avançadas.</p>
                        </div>

                        <div class="card">
                            <h3>Aulas em 4K e materiais extras</h3>
                            <span>Melhor qualidade de video e PDF’s complementares </span>
                            <p>Além do conteúdo de qualidade, também proporciono uma experiência impecável para o aluno, visando
                                aprimorar o seu aprendizado.</p>
                        </div> 

                    </div>

                    <div class="carousel-item">
                        <div class="card">
                            <h3>Grupo exclusivo</h3>
                            <span>Networking com outros escritores</span>
                            <p>Participação de um grupo no WhatsApp, onde escritores com objetivos semelhantes compartilham conhecimentos e evoluem juntos.</p>
                        </div>
            
                        <div class="card">
                            <h3>Evolução constante</h3>
                            <span>Evoluir um pouquinho de cada vez</span>
                            <p>A cada semana, você terá acesso a duas novas aulas para aprimorar e evoluir constantemente seus conhecimentos.</p>
                        </div>

                        <div class="card">
                            <h3>Escreva um livro em pouco tempo</h3>
                            <span>Utilizando bases psicológicas e técnicas de escrita</span>
                            <p>Vou te mostrar como conseguir escrever um livro em apenas uma semana, utilizando o conhecimento da psicologia aliado às técnicas.</p>
                        </div>
            
                        <div class="card">
                            <h3>Aulas ao vivo</h3>
                            <span>Sua evolução não fica restrita apenas as aulas</span>
                            <p>Realizaremos dois encontros ao vivo por mês, nos quais você poderá tirar suas dúvidas comigo e receber ajuda para avançar ainda mais.</p>
                        </div> 
                    </div>

                </div>


                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true "></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

            </div>


        </div>

    </div>
</section>
